@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Bold.ttf);
  font-weight: 700;
}

@font-face {
font-family: "Anonymous Pro";
src: url(fonts/AnonymousPro-Regular.ttf);
}

* {
margin: 0;
padding: 0;
}
.a_head{
  color: black;
  text-decoration: none;
  padding-left: 15px;
}


body{

width: 100%;
height: 100%;
gap: 25px;
background-color: #ffffff;

}
.main{
background-color: #F1F1F1;

max-width: 100%;
max-height: 1340px;
gap: 24px;

}

.logo {
width: 212.34px;
height: 63.24px;
margin-top: 5px;
margin-left: 10.7%;

}
.logo2 {
width: 299.65px;
height: 22.32px;
margin-top: 30px;
margin-left: 10.4%;

}

head{
width: auto;
height: 110px;
}

h1 {
font-family: "Anonymous Pro", sans-serif;
font-size: 56px;
}

h2 {
font-family: "Anonymous Pro", sans-serif;
font-size: 48px;
}

.container {
display: inline-block;
margin: 10px;
margin-bottom: 20px;
background-color: white;
border-radius: 12px 12px 12px 12px;
width: 371px;

vertical-align: top;
}

.content {
display: inline-block;
background-color: #F1F1F1;
margin-left: auto;
margin-right: auto;
margin: 0 ;
}




h3 {
font-family: "Anonymous Pro", sans-serif;
font-size: 26px;
font-weight: 700;
padding: 0px 24px 0px 24px;
letter-spacing: 0em;
text-align: left;


}

p {
font-family: "Anonymous Pro", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
padding: 30px 25px 30px 25px;

}

.img {
width: 371px;
margin: 0 auto;
height: 254px;
border-radius: 12px 12px 12px 12px;

}

.header {
height: 110px;
width: 100%;
width: auto;
display: flex;
flex-flow: row nowrap;
justify-content: flex-start;
align-items: center;
background-color: rgb(255, 255, 255);

}

.subtitle {
font-family: "Anonymous Pro", sans-serif;
font-size: 48px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0em;
text-align:left;
margin-left: 10.7%;
/*margin-left: 155px;*/
margin-top: 25px;
margin-bottom: 25px;
}


.footer {
  background: var(--black, #121723);
  display: flex;
  justify-content: center;
}


}



.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;

}


.line {
  margin-bottom: 87px;
  margin-left: 10.4%;
  max-width : 1160px;
  margin-right: 10.4%;
  align-content: center;  
  size: 1px; 
  color: #E6E8EC66;
  opacity: 0.4;
}

.footer-right{
width: 262px;
height: 20px;


margin-left: 77.7%;
margin-right: 11%;
margin-bottom: 10px;


}


.a_foot {

  color: white;
  text-decoration: none;
}

.foot_text {
font-family: Anonymous Pro;
font-size: 16px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0em;
text-align: left;

}

.yes{
width: 184px;
height: 16px;
top: 105px;
left: 617px;

}
.footer-container {
  display: flex;
  max-width: 1161px;
  width: 100%;
  padding: 30px 0;
  flex-direction: column;
}

.first-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  color: var(--white, #FFF);
  font-family: Russo One;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 78.188%; /* 24.238px */
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}

.line {
  margin-top: 30px;
  margin-bottom: 18px;
  background: rgba(230, 232, 236, 0.40);
}

.copiright {
  color: var(--text_gray, #A1A6B4);
  font-family: Anonymous Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 auto;
}
